@mixin hr{
    position: absolute;
    width: 99.9%;
    left: 0;

    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

@mixin column{
    display: flex;
    flex-direction: column;    
}

@mixin center{
    display: flex;
    justify-content: center;
}