@import "mixins";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;

  button {
    background-color: white;
    border: none;
    cursor: pointer;
  }

  a {
    color: black;
  }
}
body {
  /* for Container */
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Nav header for Desktop */
    .nav-header-desktop {
      /* Width 90% for container effect */
      width: 90%;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      display: none;

      /* Search div */
      .search {
        width: 40%;
        display: flex;
        justify-content: flex-start;

        /* Aligning items inside button */
        button {
          display: flex;
          align-items: center;

          /* Span Search */
          :nth-child(2) {
            opacity: 0.8;
            font-size: 11px;
            margin-left: 0.4rem;
          }
          /* Sizing image */
          img {
            width: 20px;
          }
        }
      }

      /* Styling logo */
      .logo {
        display: flex;
        justify-content: center;
        width: 20%;
        img {
          width: 130px;
        }
      }

      /* Last div */
      .last-component {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
        opacity: 0.9;

        /* Account span */
        :nth-child(1) {
          margin-right: 0.6rem;
        }

        /* Cart div */
        div {
          display: flex;
          align-items: center;
          a {
            display: flex;
            align-items: center;
            img {
              width: 20px;
            }
          }
        }
      }
    }

    .nav-footer-desktop {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      z-index: 99;
      background-color: white;
      display: none;

      ul {
        padding: 1.7rem 0 1.7rem;
        width: 60%;
        font-size: 17px;
        display: flex;
        text-transform: uppercase;
        justify-content: space-between;

        .dropdown {
          button {
            text-transform: uppercase;
            font-size: 14px;

            a {
              display: flex;
              align-items: center;

              img {
                margin-left: 4px;
                width: 11px;
                opacity: 0.7;
              }
            }
          }

          .dropdown-content {
            overflow: hidden;
            padding-top: 2rem;
            position: absolute;
            justify-content: center;
            width: 100%;
            left: 0;
            box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            display: none;

            .content-container {
              width: 90%;
              display: flex;
              justify-content: space-between;

              .lists {
                margin-top: 1rem;
                display: flex;
                width: 20%;
                flex-direction: column;
                font-size: 12px;

                ul {
                  font-size: 12px;
                  display: flex;
                  flex-direction: column;

                  li {
                    margin-top: 0.3rem;
                    &:hover {
                      opacity: 0.7;
                    }
                  }
                }
              }

              .image-container {
                margin-top: 1rem;
                margin-bottom: 0.7rem;
                width: 50%;
                display: flex;
                justify-content: space-between;

                div {
                  width: 48%;
                  display: flex;
                  flex-direction: column;
                  text-align: center;

                  span {
                    margin-top: 0.5rem;
                    font-size: 14px;
                    opacity: 0.8;
                  }
                }
              }
            }
          }

          &:hover {
            .dropdown-content {
              display: flex;
            }
          }
        }
      }
    }

    .nav-mobile {
      width: 94%;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      img {
        width: 20px;
      }

      .first-component {
        display: flex;
        width: 40%;
        justify-content: flex-start;
        align-items: center;

        .search {
          margin-left: 10px;
        }
      }

      .logo {
        display: flex;
        align-items: center;
        width: 20%;
        img {
          width: 100%;
        }
      }

      .last-component {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 40%;

        :nth-child(1) {
          margin-right: 10px;
        }
      }

      #menuToggle {
        display: block;
        position: relative;
        top: 0px;
        left: 0px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;

        a {
          text-decoration: none;
          color: #232323;
          transition: color 0.3s ease;
          &:hover {
            color: tomato;
          }
        }
        input {
          display: block;
          width: 40px;
          height: 32px;
          position: absolute;
          top: -7px;
          left: -5px;
          cursor: pointer;
          opacity: 0;
          z-index: 2;
          -webkit-touch-callout: none;
          &:checked {
            ~ {
              span {
                opacity: 1;
                transform: rotate(45deg) translate(-2px, -1px);
                background: #494848;
                &:nth-last-child(3) {
                  opacity: 0;
                  transform: rotate(0deg) scale(0.2, 0.2);
                }
                &:nth-last-child(2) {
                  transform: rotate(-45deg) translate(0, -1px);
                }
              }
              ul {
                transform: none;
              }
            }
          }
        }
        .span {
          display: block;
          width: 33px;
          height: 4px;
          margin-bottom: 5px;
          position: relative;
          background: #2c2b2b;
          opacity: 0.8;
          border-radius: 3px;
          z-index: 1;
          transform-origin: 4px 0px;
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
          &:first-child {
            transform-origin: 0% 0%;
          }
          &:nth-last-child(2) {
            transform-origin: 0% 100%;
          }
        }
      }
      #menu {
        position: absolute;
        width: 300px;
        min-height: 300px;
        height: auto;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        li {
          padding: 5px 0;
          font-size: 22px;
        }

        .shop {
          position: relative;
          width: 50px;

          .shop-submenu {
            display: none;
            transform-origin: 0% 0%;
            transform: translate(0, 0%);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
            position: absolute;
            margin-left:20px;
          }

          &:hover {
            width: auto;
            height: 490px;

            .shop-submenu {
              margin-top: 0.6rem;
              display: block;
            }
          }
        }
      }
    }
  }
}
